<div class="page-main-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-auto">
        <img (click)="goOverview()" alt="Logo" class="logo cursor-pointer" src="assets/image/logo/logo.svg">
      </div>
      <div class="col">
        <div class="main-header-right">
          <ul class="d-flex align-items-center gap-4 mb-0 justify-content-end">
            <!-- Desktop menu items -->
            <li class="d-flex align-items-center d-none d-md-flex">
              <span class="text-dark">{{ getUser()?.username ?? "" }}</span>
            </li>
            <li class="d-none d-md-block">
              <div class="dropdown">
                <button aria-expanded="false" class="btn btn-outline-primary" data-bs-toggle="dropdown"
                        id="languageDropdown">
                  {{ currentLanguageInfo.flag }}
                </button>
                <ul aria-labelledby="languageDropdown" class="dropdown-menu">
                  <li *ngFor="let lang of availableLanguages; trackBy: trackByLang">
                    <a (click)="changeLanguage(lang.shortName)" class="dropdown-item" href="javascript:void(0)">
                      {{ lang.flag }}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="d-none d-md-block">
              <button (click)="toggleTheme()" class="btn btn-outline-secondary d-flex align-items-center px-2" title="{{ (isDarkMode ? 'theme.light' : 'theme.dark') | lang }}">
                <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                </svg>
                <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                </svg>
              </button>
            </li>
            <li class="d-none d-md-block">
              <button (click)="onLogout()" class="btn btn-outline-primary d-flex align-items-center gap-2">
                <img alt="Logout" height="20" src="assets/image/buttons/logout.svg" width="20"/>
                <span>{{ 'Logout' | lang }}</span>
              </button>
            </li>

            <!-- Mobile menu button -->
            <li class="d-md-none">
              <button (click)="toggleMobileMenu()" class="btn btn-link text-dark">
                <img alt="Menu" height="24" src="assets/image/menuitems/burger.svg" width="24"/>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile menu overlay -->
<div (click)="toggleMobileMenu()" [class.show]="isMobileMenuOpen" class="mobile-menu-overlay"></div>

<!-- Mobile menu -->
<div [class.show]="isMobileMenuOpen" class="mobile-menu">
  <div class="mobile-menu-header">
    <span class="text-dark">{{ getUser()?.username ?? "" }}</span>
    <button (click)="toggleMobileMenu()" class="btn btn-link text-dark">
      <img alt="Close" height="24" src="assets/image/table_icons/x_status.svg" width="24"/>
    </button>
  </div>

  <div class="d-flex flex-column">
    <ul class="nav nav-pills d-flex flex-column gap-2">
      <li *ngFor="let menuItem of menuItems; trackBy: trackByMenuItem"
          [hidden]="needHidden(menuItem.roles)"
          class="nav-item">
        <a (click)="toggletNavActive(menuItem)"
           *ngIf="menuItem.type === 'link' && !menuItem.notShowInSidebar"
           [class.active]="menuItem.active"
           [routerLink]="!menuItem.type ? null : [menuItem.path]"
           class="nav-link">
          <div class="d-flex align-items-center gap-3">
            <img *ngIf="menuItem.image"
                 [alt]="menuItem.title"
                 [class.active-image]="menuItem.active"
                 [src]="menuItem.image"
                 height="24"
                 width="24">
            <span [class.active]="menuItem.active" class="menu-asset">
              {{ menuItem.title | lang }}
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu-content">
    <div class="row">
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-outline-primary w-100" data-bs-toggle="dropdown">
            {{ currentLanguageInfo.flag }}
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let lang of availableLanguages; trackBy: trackByLang">
              <a (click)="changeLanguage(lang.shortName)" class="dropdown-item" href="javascript:void(0)">
                {{ lang.flag }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <button (click)="onLogout()"
                class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center gap-2">
          <img alt="Logout" height="20" src="assets/image/buttons/logout.svg" width="20"/>
        </button>
      </div>
    </div>
  </div>
</div>
