<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="DirectoryLogs" value="${configsetting:item=Logging.RootDir}" />
  <variable name="DefaultLayout"
            value="${longdate} ${level:uppercase=true} ${ndlc}${newline}${logger:shortName=true} ${message}${when:when='${exception}' != '':inner='${newline}  ${exception:format=tostring}'}"
  />

  <targets>
    <!-- Основной файл логов -->
    <target name="file" xsi:type="File"
            layout="${DefaultLayout}"
            fileName="${DirectoryLogs}/${shortdate}.txt"
            maxArchiveDays="5"
            maxArchiveFiles="4"
            archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Логи ASP.NET Core -->
    <target name="file-aspnetcore" xsi:type="File"
            layout="${DefaultLayout}"
            fileName="${DirectoryLogs}/${shortdate}.aspnetcore.txt"
            maxArchiveDays="5"
            maxArchiveFiles="4"
            archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Логи Entity Framework -->
    <target name="file-ef" xsi:type="File"
            layout="${DefaultLayout}"
            fileName="${DirectoryLogs}/${shortdate}.ef.txt"
            maxArchiveDays="5"
            maxArchiveFiles="4"
            archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Логи сервисов -->
    <target name="file-services" xsi:type="File"
            layout="${DefaultLayout}"
            fileName="${DirectoryLogs}/${shortdate}.services.txt"
            maxArchiveDays="5"
            maxArchiveFiles="4"
            archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Логи апи запросов и ответов -->
    <target name="file-http" xsi:type="File"
            layout="${DefaultLayout}"
            fileName="${DirectoryLogs}/${shortdate}.http.txt"
            maxArchiveDays="5"
            maxArchiveFiles="4"
            archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Логи планировщика -->
    <target name="file-scheduler" xsi:type="File"
            layout="${DefaultLayout}"
            fileName="${DirectoryLogs}/${shortdate}.scheduler.txt"
            maxArchiveDays="5"
            maxArchiveFiles="4"
            archiveNumbering="Sequence"
            archiveAboveSize="52428800"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Цветной вывод в консоль -->
    <target name="colored-console" xsi:type="ColoredConsole" layout="${DefaultLayout}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
    </target>
  </targets>

  <!-- Локальный конфиг для переопределения настроек -->
  <include file="nlog.local.config" ignoreErrors="true" />

  <rules>
    <!-- ASP.NET Core -->
    <logger name="Microsoft.AspNetCore.*" minlevel="Debug" writeTo="file-aspnetcore" final="true" />

    <!-- Entity Framework -->
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="file-ef" final="true" />

    <!-- Сервисы -->
    <logger name="IntDorSys.Services.*" minlevel="Info" writeTo="file-services" final="true" />
    <logger name="IntDorSys.Laundress.Services.Services.*" minlevel="Info" writeTo="file-services" final="true" />
    <logger name="IntDorSys.TelegramBot.*" minlevel="Info" writeTo="file-services" final="true" />

    <!-- Scheduler -->
    <logger name="IntDorSys.Laundress.Services.Jobs.*" minlevel="Info" writeTo="file-scheduler" final="true" />

    <!-- Игнорируемые логи -->
    <logger name="Microsoft.AspNetCore.*" minlevel="Trace" final="true" />
    <logger name="Microsoft.Extensions.*" minlevel="Trace" final="true" />
    <logger name="Quartz.*" minlevel="Trace" final="true" />
    <logger name="*.Jobs.*" minlevel="Trace" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Debug" final="true" />

    <!-- HTTP -->
    <logger name="DDS.*.LogMessageHttpHandler" minlevel="Info" writeTo="file-http" final="true" />
    <!-- /HTTP -->

    <!-- Все остальные логи -->
    <logger name="*" minlevel="Trace" writeTo="file,colored-console" />
  </rules>
</nlog> 