<div #sidebar class="sidebar custom-scrollbar" id="sidebar">
  <div class="d-flex flex-column h-100">
    <ul class="nav nav-pills d-flex flex-column gap-2">
      @for (menuItem of menuItems; track $index) {
        <li [hidden]="needHidden(menuItem.roles)"
            class="nav-item">
          @if (menuItem.type === 'link' && !menuItem.notShowInSidebar) {
            <a (click)="toggletNavActive(menuItem)"
               [class.active]="menuItem.active"
               [routerLink]="!menuItem.type ? null : [menuItem.path]"
               class="nav-link">
              <div class="d-flex align-items-center gap-3">
                @if (menuItem.image) {
                  <img [alt]="menuItem.title"
                       [class.active-image]="menuItem.active"
                       [src]="menuItem.image"
                       height="24"
                       width="24">
                }
                @if (!isMobileMenuOpen) {
                  <span [class.active]="menuItem.active" class="menu-asset">
                    {{ menuItem.title | lang }}
                  </span>
                }
              </div>
            </a>
          }
        </li>
      }
    </ul>
  </div>
</div>
