.menu-asset {
    padding-left: 15px;
}

@media (max-width: 568px) {
    .menu-asset {
        padding-left: 10px;
    }
}

.scroll-container {
    max-height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}
